{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<section class="hero">
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Unicorn Attractor</span>
            <span class="heading-primary-sub">Help us help you</span>
        </h1>
        <a href="#" class="btn btn-white">Latest Features</a>
    </div>	
</section>

<section class="container-fluid feature-section">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <h2 class="heading-secondary">Build New Features</h2>
            <p class="paragraph">Lorum Ipsem</p>
            <a href="#" class="btn btn-primary">Request A Feature</a>
        </div>
        <div class="col-md-6">
            <img src="{% static 'img/watch.jpg' %}" alt="Man taking photo of ocean" class="img-fluid index-img">
        </div>
    </div>
</section>

<section class="cta-section text-center">
    <div class="row">
        <div class="col-md-4 ">
            <i class="fas fa-bug cta-icon"></i>
            <h3 class="heading-tertiary">Report Bugs</h3>
            <p class="paragraph">Found a bug in the system? Let us know and we'll get right on it.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-plus cta-icon"></i>
            <h3 class="heading-tertiary">Report Bugs</h3>
            <p class="paragraph">Found a bug in the system? Let us know and we'll get right on it.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-arrow-up cta-icon"></i>
            <h3 class="heading-tertiary">Report Bugs</h3>
            <p class="paragraph">Found a bug in the system? Let us know and we'll get right on it.</p>
        </div>
    </div>
</section>

{% endblock %}