{% extends "base.html" %}

{% block nav %} {% include 'includes/navbar.html' %} {% endblock %}

{% block content %}

<!--Password Reset Complete-->
<header class="email-container">
	<div class="text-box">
		<h1 class="heading-primary">
			<span class="heading-email-main">Success!</span>
        </h1>
        <p class="paragraph">Your password has been successfully changed.</p>
        <p class="paragraph">You can now log in again.</p>
		<a href="{% url 'login' %}" class="btn btn-primary m-auto">Login</a>
	</div>	
</header>

{% endblock %}

{% block footer %} {% include 'includes/footer.html' %} {% endblock %}
