{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<section class="section-reglog">
    <a href="{% url 'index' %}"class="close close-icon" aria-label="Close"><span aria-hidden="true">&times;</span></a>
    <div class="reglog">
            <div class="reglog__form">
                <h1 class="heading-primary">Password Reset</h1>
                <p class="paragraph">Please enter your email address</p>
                <!--Reset Password Form-->
                <form method="post">
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
</section>
{% endblock %}