<div class="col-sm-12 col-md-6 my-3">
    <div class="card u-margin-bottom-medium">
        <div class="card-header">
            <span class="card-title heading-tertiary card-title">{{ item.feature.title }}</span>
            <span class="card-header-item">
                <!--Delete Item From Cart-->
                <form method="POST" action="{% url 'delete_item' item.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="id" value="{{ item.feature.id }}">
                    <a href="#" onclick="$(this).closest('form').submit()"><i class="fas fa-trash-alt card-header-icon mr-2 "></i>Remove</a>
                    
                </form>
            </span>
        </div>
        <!--Cart Item Description-->
        <div class="card-body">
            <p class="card-text paragraph card-paragraph text-truncate">
                {{ item.feature.description }}
            </p>
        </div>
        <div class="card-footer">
            <!--Cart Item Author-->
            <span class="card-footer-item">
                <img src="{{ item.feature.author.profile.image.url }}" alt="{{ user.username }}" class="card-image">
                {{ item.feature.author }}
            </span>
            <!--Cart Item Price-->
            <span class="card-footer-item">
                Price: &euro; {{ item.feature.vote_price }}
            </span>
        </div>
    </div>  
</div>