<div class="col-sm-12 col-md-6 my-3">
    <div class="card preview-card u-margin-bottom-medium">
        <div class="card-header">
            <span class="card-title heading-tertiary card-title">{{ item.feature.title }}</span>
            <span class="card-header-item ml-2">
                <i class="fas fa-trash-alt card-header-icon"></i>
                Remove
            </span>
        </div>
        <div class="card-body">
            <p class="card-text paragraph card-paragraph truncate">
                {{ item.feature.description }}
            </p>
        </div>
        <div class="card-footer">
            <span class="card-footer-item">
                <img src="{{ item.feature.author.profile.image.url }}" alt="{{ user.username }}" class="card-image">
                Author: {{ item.feature.author }}
            </span>
            <span class="card-footer-item">
                Price: &euro; {{ item.feature.vote_price }}
            </span>
        </div>
    </div>  
</div>