{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<section class="section-reglog">
    <a href="{% url 'index' %}"class="close close-icon" aria-label="Close"><span aria-hidden="true">&times;</span></a>
    <div class="reglog">
            <div class="reglog__form">
                <h1 class="heading-primary">Register</h1>
                <!--Login Form-->
                <form method="post" action="{% url 'register' %}?next={{ next }}">
                        {% csrf_token %}
                        {{ user_form | as_bootstrap }}
                        
                         <p>Already registered? Click<a href="{% url 'login' %}"> here</a></p>
                         
                        <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
</section>
{% endblock %}