{% extends "base.html" %}
{% load static %}

{% block nav %} {% include 'includes/navbar.html' %} {% endblock %}
{% block content %}
<!--Hero Image -->
<section class="hero bug-hero">
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Bug Reports</span>
            <span class="heading-primary-sub">Working on it</span>
        </h1>
    </div>	
</section>
<!--Call To Action Section-->
<section class="cta-section text-center">
    <h2 class="heading-secondary py-5">How It Works</h2>
    <div class="row">
        <div class="col-md-3 py-3">
            <i class="fas fa-plus cta-icon py-3"></i>
            <h3 class="heading-tertiary py-3">Make Bug Reports</h3>
            <p class="paragraph py-2">Found something that shouldn't be there? Let us know about it.</p>
        </div>
        <div class="col-md-3 py-3">
            <i class="fas fa-comments cta-icon py-3"></i>
            <h3 class="heading-tertiary py-3">Got Something To Say?</h3>
            <p class="paragraph py-2">You can leave a comment below any bug report.</p>
        </div>
        <div class="col-md-3 py-3">
            <i class="far fa-thumbs-up cta-icon py-3"></i>
          <h3 class="heading-tertiary py-3">Vote For Your Ideas</h3>
          <p class="paragraph py-2">Voting for bug reports is always free.</p>
        </div>
        <div class="col-md-3 py-3">
            <i class="fas fa-thumbtack cta-icon py-3"></i>
            <h3 class="heading-tertiary py-3">Our Promise</h3>
            <p class="paragraph py-2">We will work to resolve every bug report.</p>
        </div>
    </div>
</section>
<!--View All Bugs-->
<main class="container u-padding-top-lg u-margin-bottom-medium" id="bug-report">
    <span class="card-header-item card-heading-item">
      <!--Create New Bug-->
      <a href="{% url 'new_bug' %}"><i class="fas fa-plus"></i>Add Bug</a>
    </span>
    <div class="row u-padding-top">
        <!-- Bug Cards -->
        {% for bug in bugs %}
          {% include "includes/bug_card.html" %}
          {% empty %}
          <p class="paragraph card-paragraph">No bug reports yet :(</p>
		    {% endfor %}
    </div>
</main>
<!--Pagination-->
{% if bugs.has_other_pages %}
  <ul class="pagination pagination-lg justify-content-center pb-3">
    {% if bugs.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ bugs.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in bugs.paginator.page_range %}
      {% if bugs.number == i %}
        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if bugs.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ bugs.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
{% block footer %} {% include 'includes/footer.html' %} {% endblock %}