<div class="col-12">
    <div class="card">
        <div class="card-header">
            <span class="card-header-item">
                Status: {{ bug.status }}
            </span>
        </div>
        <div class="card-body">
            <h6 class="card-title">{{ bug.title }}</h5>
            <p class="card-text paragraph truncate">
                {{ bug.description }}
            </p>
        </div>
        <div class="card-footer">
            <span class="card-header-item">
                Author: {{ bug.author }}
            </span>
        </div>
    </div>
    <a href="#"></a>
</div>
