<div class="col-12">
    <div class="card preview-card u-margin-bottom-medium">
        <div class="card-header">
            <!--Bug Title-->
            <span class="card-title heading-tertiary">{{ bug.title }}</span>
            <!--Bug Status-->
            {% if bug.status == 'New' %}
            <span class="card-header-item">
                Status: {{ bug.status }}
            </span>
            {% elif bug.status == "In Progress" %}
            <span class="card-header-item bg-primary">
                Status: {{ bug.status }}
            </span>
            {% elif bug.status == "Closed" %}
            <span class="card-header-item bg-warning">
                Status: {{ bug.status }}
            </span>
            {% elif bug.status == "Complete" %}
            <span class="card-header-item bg-success">
                Status: {{ bug.status }}
            </span>
            {% endif %}
        </div>
        <div class="card-body">
            <!--Bug Description-->
            <p class="card-text paragraph card-paragraph text-truncate">
                {{ bug.description }}
            </p>
        </div>
        <div class="card-footer">
            <!--Bug Author-->
            <span class="card-footer-item">
                <img src="{{ bug.author.profile.image.url }}" alt="{{ user.username }}" class="card-image">
                {{ bug.author }}
            </span>
        </div>
        <!--View Bug Link-->
        <a href="{% url 'view_bug' pk=bug.pk %}"></a>
    </div>  
</div>
