{% extends "base.html" %}
{% load static %}
{% block nav %} {% include 'includes/navbar.html' %} {% endblock %}
{% block content %}
<!--Hero Image-->
<div class="hero single-bug-hero">	
</div>

<main class="container u-padding-top-lg px-0 u-margin-bottom-medium">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <!--Feature Title-->
                    <span class="card-title heading-tertiary">{{ feature.title }}</span>
                    <span class="card-header-item ml-2">
                        <!--Feature Views-->
                        <i class="fas fa-eye card-header-icon"></i>
                        Views:{{ feature.views }}
                    </span>
                    <span class="card-header-item vote">
                        {% if user.is_authenticated %}
                        <!--Vote Form-->
                        <form method="POST" action="{% url 'add_to_cart' feature.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="id" value="{{ feature.id }}">
                            <a href="#" onclick="$(this).closest('form').submit()"><i class="far fa-thumbs-up card-header-icon mr-2"></i></a> 
                            {{ feature.votes }} 
                        </form>
                        {% else %}
                       <i class="far fa-thumbs-up card-header-icon mr-2"></i>
                       {{ feature.votes }}
                        {% endif %}
                    </span>

                </div>
                <div class="card-body">
                    <!--Feature Description-->
                    <p class="card-text paragraph card-paragraph">
                        {{ feature.description }}
                    </p>
                </div>
                <div class="card-footer">
                    <!--Feature Author-->
                    <span class="card-footer-item">
                        <img src="{{ feature.author.profile.image.url }}" alt="{{ user.username }}" class="card-image">
                        {{ feature.author }}
                    </span>
                    <!--Feature Status-->
                    {% if feature.status == 'New' %}
                    <span class="card-footer-item">
                        Status: {{ feature.status }}
                    </span>
                    {% elif feature.status == "In Progress" %}
                    <span class="card-footer-item bg-primary">
                        Status: {{ feature.status }}
                    </span>
                    {% elif feature.status == "Closed" %}
                    <span class="card-footer-item bg-warning">
                        Status: {{ feature.status }}
                    </span>
                    {% elif feature.status == "Complete" %}
                    <span class="card-footer-item bg-success">
                        Status: {{ feature.status }}
                    </span>
                    {% endif %}
                    <!--Feature ID #-->
                    <span class="card-footer-item">
                        Feature #: {{ feature.id }}
                    </span>
                </div>
            </div>  
        </div>        
    </div>
    <!--Feature Edit/Delete-->
    {% if feature.status != "Closed" and feature.status != 'Complete' %}
        {% if user.id == feature.author.id %}
    <div class="row m-auto u-padding-top-lg">
        <!--Edit Button-->
        <div class="col-6 m-auto">
            <a href="{% url 'edit_feature' feature.id %}" class="btn btn-edit" role="button">Edit Feature</a>  
        </div>
        <!--Delete Button-->
        <div class="col-6 m-auto">
            <a href="{% url 'delete_feature' feature.id %}" class="btn btn-delete" role="button">Delete Feature</a> 
        </div>
    </div>
        {% endif %}
    {% endif %}
    <!--Feature Comment Section-->
    <section class="comment_section container u-padding-top-lg">
        <h2 class="heading-tertiary">
            Comments
        </h2>
        {% include "includes/comments.html" %}
    </section>
</main>

{% endblock %}
{% block footer %} {% include 'includes/footer.html' %} {% endblock %}