{% extends "base.html" %}
{% load static %}

{% block nav %} {% include 'includes/navbar.html' %} {% endblock %}
{% block content %}

<section class="hero bug-hero">
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Features</span>
            <span class="heading-primary-sub">Work In Progress</span>
        </h1>
    </div>	
</section>

<section class="cta-section text-center">
    <h2 class="heading-secondary py-5">How It Works</h2>
    <div class="row">
        <div class="col-md-3 py-3">
            <i class="fas fa-plus cta-icon py-3"></i>
            <h3 class="heading-tertiary py-3">Request New Features</h3>
            <p class="paragraph py-2">Got an idea for a new feature? Share it with the community.</p>
        </div>
        <div class="col-md-3 py-3">
            <i class="fas fa-comments cta-icon py-3"></i>
            <h3 class="heading-tertiary py-3">Got Something To Say?</h3>
            <p class="paragraph py-2">You can leave a comment below any feature.</p>
        </div>
        <div class="col-md-3 py-3">
            <i class="far fa-thumbs-up cta-icon py-3"></i>
          <h3 class="heading-tertiary py-3">Vote For Your Ideas</h3>
          <p class="paragraph py-2">Please note that there is a fee for feature voting. </p>
        </div>
        <div class="col-md-3 py-3">
            <i class="fas fa-thumbtack cta-icon py-3"></i>
            <h3 class="heading-tertiary py-3">Our Promise</h3>
            <p class="paragraph py-2">We will work on the most voted feature requests.</p>
        </div>
    </div>
</section>



<main class="container u-padding-top-lg u-margin-bottom-medium">
    <span class="card-header-item card-heading-item">
      <a href="{% url 'new_feature' %}"><i class="fas fa-plus"></i>Add Feature</a>
    </span>
    <div class="row u-padding-top">
        <!-- Bug Cards -->
        {% for feature in features %}
			{% include "includes/feature_card.html" %}
		{% endfor %}
    </div>
</main>

{% if feature.has_other_pages %}
  <ul class="pagination pagination-lg justify-content-center pb-3">
    {% if feature.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ feature.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in feature.paginator.page_range %}
      {% if feature.number == i %}
        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if feature.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ feature.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
{% block footer %} {% include 'includes/footer.html' %} {% endblock %}