{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block nav %} {% include 'includes/navbar.html' %} {% endblock %}

{% block content %}
<!--Hero Image-->
<section class="hero cart-hero">
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Cart</span>
        </h1>
    </div>	
</section>
    
<main class="container u-padding-top-lg u-margin-bottom-medium">
    <h2 class="heading-tertiary u-padding-top-lg">Items in cart:</h2>
    <div class="row">
        <!-- Feature Cards -->
        {% for item in cart_items %}
            {% include "includes/cart_card.html" %}
        {% endfor %}
    </div>
    <div class="u-padding-top-lg u-center-text">
        {% if total == 0 %}
        <p class="paragraph card-paragraph">No items in the cart :(</p>
        <a href="{% url 'view_all_features' %}" class="btn btn-primary">View Features</a>
        {% else %}
        <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
        {% endif %}
    </div> 
</main>

{% endblock %}
{% block footer %} {% include 'includes/footer.html' %} {% endblock %}